header.hero {
    margin-top: var(--h-top);
    background-color: black;
    .container-xl {
        position: relative;
        z-index: 0;
        // margin-bottom: 3rem;

        
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
        height: 300px;
        
        display: flex;
        align-items: center;

        .overlay {
            position: absolute;
            inset: 0;
            z-index: -1;
            background: hsl(0 0% 0% / 0.6);
            @media (min-width:768px) {
                background: linear-gradient(90deg, hsl(0 0% 0% / 0.6) 0%, transparent 50% );
            }
        }
    }

    h1 {
        color: white;
        font-size: 2rem;
        font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
        font-weight: var(--fw-900);
        margin: 1rem 0;
    }


}
