.news_latest {
    .row a {
        display: block;
        padding-right: 1.5rem;
        font-size: var(--fs-450);
        font-weight: var(--fw-900);
        position: relative;
        color: var(--col-blue);
        &::after {
            position: absolute;
            content: "";
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 25'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23be1622; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='cls-1' points='0 25 0 25 0 0 23 12.5 0 25'/%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            width: 25px;
            height: 25px;
            top: 0.25rem;
            margin-left: 0.5rem;
            transition: transform var(--transition);
        }
        &:hover::after {
            transform: translateX(0.5rem);
        }
    }
    img {
        aspect-ratio: 2 / 1;
        object-fit: cover;
        object-position: center;
    }
}