.test_block {
    background: linear-gradient(60deg, lightpink, lightblue);
    &__img {
        margin-bottom: 1rem;
       
    }
    &__name {
        text-align: center;
        font-weight: var(--fw-900);
        border-radius: 10%
    }
}