.test_block {
    &__img {
        margin-bottom: 1rem;
        border-radius: 15%;
        border: pink;
    }
    &__name {
        text-align: center;
        font-weight: var(--fw-900);
       
    }
}