.featured {

    .carousel-item {
        background-color: var(--col-primary);
        border-radius: 1rem;
        margin-bottom: 2rem;
        color: white;
        transition: all 0.3s ease-out;

        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            transform: translateY(2px);
            .featured__more::after {
                margin-left: 1rem;
            }
        }
        a {
            text-decoration: none;
            color: white;
        }
    }

    &__img {
        min-height: 250px;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        @media (min-width:768px) {
            border-bottom-left-radius: 1rem;
            border-top-right-radius: 0;
        }
    }
    &__inner {
        padding: 1rem;
    }
    &__content {
        margin-bottom: 0.5rem;
    }
    &__more {
        color: black;
        position: relative;
        &::after {
            transition: all 0.3s ease-out;
            content: ">";
            margin-left: 0.5rem;
        }
    }
}

.blog_card {
    background-color: var(--col-grey);
    border-radius: 1rem;
    height: 100%;
    text-decoration: none;
    display: block;
    color: black;
    transition: all 0.3s ease-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        transform: translateY(2px);
        color: var(--col-darkest);
    }
    &__image {
        aspect-ratio: 16 / 9;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    &__content {
        padding: 0.5rem;
    }
    &__title {
        font-size: 1.1rem;
    }
}

// single posts
.blog {
    margin-top: 150px;
    &__image {
        margin-bottom: 1rem;
        aspect-ratio: 16 / 9;
        width: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    &__title {
        margin-bottom: 1rem;
    }
}

.navigation {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: fit-content;
    border-radius: 0.25rem;
    ul{
        list-style: none;
        display: flex;
        padding-inline-start: 0;
    }
    li {
        
        border: 1px solid var(--col-primary);
        border-right: none;
        background-color: white;
        &.active {
            background-color: var(--col-primary);
            a {
                cursor: default;
                font-weight: 600;
            }
        }
        &:first-of-type {
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }
        &:last-of-type {
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
            border-right: 1px solid var(--col-primary);
        }
    }

    a {
        display: block;
        text-decoration: none;
        color: black;
        padding: 0.5rem 1rem;
    }

}

/*
.post_title {
    padding: 1rem;
    position: relative;
    z-index: 0;
    &__overlay {
        background-color: rgba(0,0,0,0.2);
        filter: blur(1px);
        position: absolute;
        inset: 0;
        z-index: -1;
    }
    .hero__title {
        font-size: 2rem;
        font-size: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
    }
}

.grid_item {
    a {
        text-decoration: none;
        color: initial;
    }
    .news__title {
        margin-bottom: 0;
    }
    .news__date {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }
    .news__image_container {
        position: relative;
        z-index: 0;
        .news__flash {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            color: white;
            font-size: 0.8rem;
            padding: 0.25rem 0.5rem;
        }
    }
    .card {
        margin: 1rem 0.5rem;
    }
}

/*
.filters {
    .active {
        color: white;
        &:hover {
            // background-color: $magenta-100;
            color: black;
        }
        &:focus {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }
    }
}
.news {
    &__item {
        display: block;
        border-radius: 0.25rem;
        text-decoration: none;
        color: black;
        height: 400px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: all 0.3s ease;
        &:hover {
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            transform: translateY(2px);
        }
        padding-bottom: 4rem;
        position: relative;
        &__overlay {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: rgb(255,255,255);
            background: linear-gradient(0deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
            height: 4rem;
        }
    }
    &__image {
        aspect-ratio: 2.35 / 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    &__flash {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.25rem 0.5rem;
        font-size: 0.667rem;
        border-bottom-right-radius: 0.25rem;
        box-shadow: rgb(0 0 0 / 16%) 0 3px 6px;
        &--news {
            background-color: $rbf-blue-500;
            color: white;
        }
    }
    &__inner {
        padding: 1rem;
        min-height: 12rem;
    }
    &__title {
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.3;
    }
    &__date {
        font-size: 0.889rem;
        margin-bottom: 0.5rem;
        color: $grey-300;
    }
    &__intro {
        font-size: 0.889rem;
    }
}
 */

/*
.author {
    padding: 5rem 0 4rem 0;
    position: relative;
    z-index: 0;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        top: -10px;
        height: 45px;
        background-image: url('../img/divider--top.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 10;
    }
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        bottom: -10px;
        height: 45px;
        background-image: url('../img/divider--bottom.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 10;
    }
}
*/