.btn--small {
    width: 160px;
    padding: 0.75rem 1rem;
    height: auto;
}

.btn {
    position: relative;
    border-radius: 0.25rem;
    font-weight: 500;
    overflow: hidden;
    transition: all 0.3s ease;
    min-width: 8.125rem;
}

.btn-primary,
.btn--accent {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--col-highlight);
    font-size: 0.889rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    &:hover {
        background: lighten($col-highlight, 10%);
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
}
