/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

:root {
    font-variant-ligatures: none;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: var(--fw-400);
    font-size: 1rem;
    line-height: 1.556;
    font-style: normal;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, .h99 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin-bottom: 0.5rem;
    font-weight: var(--fw-900);
}

h1, .h1 {
    font-size: 40px;
    letter-spacing: 0.04rem;
}
h2, .h2 {
    font-size: 32px;
}
h3, .h3 {
    font-size: 24px;
    color: var(--col-red-400);
    font-weight: var(--fw-400);
}

.fs-7 {
    font-size: 0.889rem;
}

strong, b {
    font-weight: var(--fw-900);
}
